* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c9d9f7;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 1rem;
  margin-top: 1%;
}

.formControl {
  width: 300px;
  margin: 5px;
}

.button {
  width: 200px;
  margin: 5px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.container,
.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 8px 12px;
  border-left: 1px solid #009879;
  border-right: 1px solid #009879;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.imgSize {
  height: 400px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
}
